*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*-------------*/

body{
    background-color: #dddddd;
    font-family: 'Concert One', cursive;
    font-size: 18px;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.content__wrapper{
    display: flex;
    margin: auto;
    background-color: #dddddd;
    max-width: 56rem;
    max-height: 39.1rem;
    overflow: hidden;
    flex-wrap: wrap;
    row-gap: 15px;
}
.content__img-wrapper{
    max-width: 100%;
    max-height: 36rem;
    display: flex;
    order: 1;
    transition: transform 0.3s linear;
}
.content__controls{
    display: flex;
    justify-content: space-between;
    order: 2;
    overflow: hidden;
    max-width: 50%;
    padding-bottom: 20px;
    background-color: #dddddd;
}
.control__text-block{
    display: flex;
    width: 57.4rem;
}
.control__wrapper{
    order: 2;
    transition: transform 0.3s linear;
}
.control__text{
    margin-right: 20px;
    min-width: 56rem;
}
.control__inputs{
    order: 3;
    margin-left: auto;
    max-width: 50%;
    padding-bottom: 20px;
    background-color: #dddddd;
}
img{
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
}
.content__img{
    max-width: 100%;
}
.control__inputs:has(#one:checked) ~ .content__img-wrapper{
    transform: translateX(0%);
}
.control__inputs:has(#two:checked) ~ .content__img-wrapper{
    transform: translateX(-100%);
}
.control__inputs:has(#three:checked) ~ .content__img-wrapper{
    transform: translateX(-200%);
}
.control__inputs:has(#four:checked) ~ .content__img-wrapper{
    transform: translateX(-300%);
}
.control__inputs:has(#one:checked) ~ .content__controls .control__wrapper{
    transform: translateX(0%);
}
.control__inputs:has(#two:checked) ~ .content__controls .control__wrapper{
    transform: translateX(-100%);
}
.control__inputs:has(#three:checked) ~ .content__controls .control__wrapper{
    transform: translateX(-200%);
}
.control__inputs:has(#four:checked) ~ .content__controls .control__wrapper{
    transform: translateX(-300%);
}
@media (max-width: 768px) {
    .control__inputs{
        order: 2;
        max-width: 100%;
        margin: 0 auto;
    }
    .content__controls{
        min-width: 100%;
    }
}